nav
    ul
        li: a(href!="<%= baseUrl %>") Home
        li: a(href!="<%= baseUrl %>/about") About
        li: a(href!="<%= baseUrl %>/blog/") Blog
        li: a(href!="<%= baseUrl %>/contact/") Contact
